{% load staticfiles %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Конференция молодых ученых 'Современные техника и технологии в научных исследованиях'">

    <meta property="og:url" content="mmk.gdirc.kg"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Современные техника и технологии в научных исследованиях"/>
    <meta property="og:description" content="Конференция молодых ученых 'Современные техника и технологии в научных исследованиях'"/>
    <meta property="og:image" content="https://nsran-conference.kg/media/logo/logo.png" />

    {% load staticfiles %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}"/>
    {% block styles %}


        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <style>
            .container {
                padding-left:20px;
                padding-right: 20px;
                padding-bottom: 50px;
            }
        </style>

    {% endblock styles %}
    {% block extra_styles %}
    {% endblock extra_styles %}
    {% block scripts %}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'semantic/semantic.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script> 


    {% endblock scripts %}
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    <div class="ui fluid container">
        <!-- upper menu -->
        <div class="ui inverted black menu">
            <a href="{% url 'home' %}" class="item">
                <img src="{% static 'img/logo_2.png' %}"/>                
            </a>            
            <div class="right menu">
                    <a class="item" href="{% url 'my_manuscripts' %}">
                        <i class="teal large book icon"></i>
                        Мои доклады
                    </a>

                    <a class="item" href="{% url 'all_manuscripts' %}">
                        <i class="teal large book icon"></i>
                        Все доклады
                    </a>

                    </a>
                    <a class="item" href="{% url 'my_logout' %}">
                        <i class="teal large sign-out icon"></i>
                        Выйти
                    </a>
            </div>      
        </div>


<br>

Вы вошли как {{user.first_name}} {{user.last_name |slice:1}}.
<br>
<br>


            <!-- right content -->
            <div class="thirteen wide column">
                {% block content %}
                [ <div id="content"></div> ]
                {% endblock content %}
            </div> <!-- right content -->
        </div> <!-- grid -->
    </div> <!-- container -->

   




</body>
</html>